<Solid::AutoLogin />

<h1>Tracking stuff on SOLID</h1>

<TimeTracker::DataLoader as |loader|>
  <button type="button" {{on "click" loader.load}}>Load Projects</button>

  {{loader.location}}
  {{#if loader.location}}
    <button type="button" {{on "click" loader.fetchProjectsArray}}>Fetch Projects</button>
  {{/if}}

  {{#each loader.projects as |project|}}
    <div>{{project.name}}</div>
  {{/each}}
</TimeTracker::DataLoader>

New project:
<TimeTracker::Entry::Project />

{{outlet}}
